__pycache__/
*.pyc
*.log
*.bak
.flatpak-builder
bin/mcpelauncher-client
bin/mcpelauncher-extract
bin/mcpelauncher-webview
bin/mcpelauncher-error
BIN-PACKS
build
build-dir
dist
repo_dist
venv
CianovaLauncherMCPE.spec
COMMAND.txt
TEMPLATE_RELEASE.md
